/*****************************************/

.form{
    margin-top: 2em;
    display: flex;
    justify-content:safe;
    margin-bottom: 2em;
    border-radius:0.5em 0.5em 0.5em 0.5em ;
    box-shadow: .3em .5em  .2em .1em rgba(41, 40, 40, 0.662);
    padding: 0;
    background-color: #fbf8f8;
    min-width: 310px;
  overflow: hidden;
  }


  .form__input{
    width: 70%;
    /* background-image: url('../../../img/tapiz\ pokemon-ultrasol-ultraluna-analisis-1510569184128.webp'); */
    background-image: url('../../../public/img/replicate-prediction-k3xlel2kqvd2jade6xtsqbluci.png');
    opacity: 1;
    background-repeat: no-repeat;
    background-size:contain; 
    background-position:right;
    font-size: 1.6rem;
    padding: 0.6em 1.2em;
    border-radius:.5em 0 0 .5em ;
    /* border: 1.5px solid rgb(14, 13, 13); */
    
    /* text-shadow: 1px 1px 2px rgb(63, 59, 59); */
     color: rgb(47, 34, 34);
  }


  .form__button{
    width: 30%;
    height: 100%;
    /* border-radius: 0 .5em .5em 0; */
    border: 0;
    padding: 3em auto;
    background-color: #e63434;
    color: white;
    /* box-shadow: .3em .5em  .2em .1em rgba(41, 40, 40, 0.662); */
  
  font-size: 1.8em;
  letter-spacing: 1px;
  z-index: 10;

  
  }

