

.home__container{
    background-color: blueviolet;
    min-height:  100vh;
    display: grid;

    grid-row: 2fr auto;
    color: black;
    
    
}
.home__body{
/* background-color: aqua; */
padding: 2em 4em;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}


.home__article{
    display: grid;
    justify-content: center;
    align-content: center;
    max-width:350px;
    /* background-color: darksalmon;  */
    padding: 1em;
}




.home_logo-img img{
  display: block;
  width: 100%;
  aspect-ratio:5/1;
}


.home__saludo-trainer{
    margin-top: 1em;
    text-align: center;
    color: rgb(248, 5, 5);
    font-size: 1.2rem;
    font-weight: 100;
    font-family: initial;
}

.home__give-name{
text-align: center;
color: black;
font-size: .8rem;
}

.home_footer{
  
    width: 100%;
    margin-bottom: -;
    color: black;
    padding: 0em;
}

.home_footer img{
  display: block;
  width: 100%;
  aspect-ratio:8/1;
  
  

  
}

@media  (min-width: 1440px){
    .home_footer{
        height: 160px;
        width: 100%;
        background-size: cover; 
    }
}

@media  (max-width: 1200px){
    .home__items{
        
        width: 550px;
        /* background-color: blue;  */
    }
    .home_footer{
        height: 150px;
        width: 100%;
        background-size:cover; 
    }
}

 @media (max-width: 800px){
    /* .home{
        height: 150vh;
        width: 100%;
    } */
    .home__items{
        
        width: 380px;
        /* background-color: greenyellow;  */
    }
    .home_footer{
        height: 140px;
        width: 100%;
        /* max-width: 800px; */
        background-size: cover;
    } 
} 

@media (max-width: 500px){
     .home{
        height: 100vh;
        width: 100%;
        /* background-color: red; */
    } 
    .home_footer{
        height: 120px;
        width: 100%;
       
        background-size: cover;
    } 
}
@media (max-width: 400px){
    .home{
       height: 100vh;
       width: 100%;
       /* background-color: red; */
   } 
   .home_footer{
       height: 110px;
       width: 100%;
      
       background-size: cover;
   }     

   .home__title{
    
    width: 100%;
    
}
    

} 