
.app{
    background-color: rgba(184, 71, 63, 0.651);
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    
}
 