.formPoke__container{
/* background-color: red;  */
display: flex;
justify-content:center;
align-content: center;
flex-wrap: wrap;
gap: 1em;
padding: .5em;
width: 100%;
}
.formPoke__container-form{
    /* background-color: aquamarine;  */
    display: flex;
    padding: .5em;
    /* width: 100%; */
    justify-content: center;

}

.formPoke__container-form input{
background-color: rgb(196, 190, 188); 
width: 70%; 
font-size: 1.5em;
border-radius:  10px 0 0 10px  ;
}

.formPoke__container-form button{
    background-color: rgb(253, 4, 4);
    width: 30%;
    padding: 5px 0px;
    font-size: 1.2rem; 
    border-radius: 0 10px 10px 0

    }


.formPoke__container-select{

background-color: rgb(209, 235, 195);
width: 12em;
padding: 0px 15px;
font-size: 1.2rem; 
border-radius: 10px 10px 10px 10px;
margin: .4em;

}
