.formPoke__container{
/* background-color: red;  */
display: flex;
justify-content:center;
align-content: center;
flex-wrap: wrap;
gap: 1em;
padding: .5em;
width: 100%;
}
.formPoke__container-form{
    /* background-color: aquamarine;  */
    display: flex;
    padding: .5em;
    /* width: 100%; */
    justify-content: center;

}

.formPoke__container-form input{
    background-color: rgb(170, 170, 170);
width: 70%; 
font-size: 1.2em;
border-radius:  8px 0 0 8px  ;
padding: .5em;
color: red;
font-weight: 500;
font-family:Arial, Helvetica, sans-serif;
box-shadow: .3em .5em  .2em .1em rgba(41, 40, 40, 0.662);
}

.formPoke__container-form button{
    background-color: rgb(253, 4, 4);
    width: 30%;
    padding: 5px 0px;
    font-size: 1.2rem; 
    border-radius: 0 8px 8px 0;
    box-shadow: .3em .5em  .2em .1em rgba(41, 40, 40, 0.662);
    

    }


.formPoke__container-select{

background-color: rgb(152, 152, 152);
width: 10em;
padding: 15px 25px;
font-size: 1.4rem;
font-weight: 600; 
border-radius: 10px 10px 10px 10px;
box-shadow: .3em .5em  .2em .1em rgba(41, 40, 40, 0.662);
margin: .4em;

}
